body {
    display:block;
}

div{
    display:block;
    width: 96.5%;
    border: 2px solid red;
    background-color:black;
    border-radius:60px;
}
.hidden{
    border: 0 solid red;
    border-radius: 60px 0 0 60px;
}

